<link rel="stylesheet" href="/css/change_pass.css">

<div id="changepass-container">
<h1>Change your password</h1>

    <form action="/users/change-password" method="POST">
        <input type="password" name="password"required placeholder="Current Password">
        <input type="password" name="new_password" required placeholder="New Password">
        <input type="password" name="confirm_password" required placeholder="Confirm New Password">
        <button type="submit" >Change Password</button>
    </form>
</div>