<link rel="stylesheet" href="/css/profile.css">
<div id="profile">
        <h1>Name: <%=profile_user.name%></h1>
        <p>Email: <%=profile_user.email%></p>
        <a href="/users/change_password"><button>Change Password</button></a>
        
</div>
