#footer-container{
    text-align: center;
    background-color: rgb(235, 235, 235);
    margin: 0;
    height: 5vh;

    p{
        small{
	            color:#008080;
        }
        color: black;
        margin-top: 0px;
        padding: 5px;
    }
}