body {
  background-image: linear-gradient(-23deg, #1096ef, #5511f3); }
  body #signin-container {
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin: 20vh 35vw;
    height: 55vh; }
    body #signin-container h1 {
      color: #008080;
      text-align: center; }
    body #signin-container form {
      padding: 0 2em;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      background-color: #fff; }
      body #signin-container form input {
        width: 90%;
        border: 0px solid transparent;
        border-radius: 0;
        border-bottom: 1px solid #aaa;
        padding: 1em .5em .5em;
        padding-left: 2em;
        outline: none;
        margin: 1.5em auto;
        transition: all .5s ease; }
      body #signin-container form input:focus {
        border-bottom-color: #008080;
        box-shadow: 0 0 5px rgba(0, 80, 80, 0.4);
        border-radius: 4px; }
      body #signin-container form button {
        transition: all .5s ease;
        width: 50%;
        font-size: larger;
        border-radius: 30px;
        color: #008080;
        font-weight: 600;
        background-color: #fff;
        border: 1px solid #008080;
        margin-top: 1.5em;
        margin-bottom: 1em; }
      body #signin-container form button:hover, body #signin-container form button:focus {
        background-color: #008080;
        color: #fff; }
    body #signin-container p {
      text-align: center; }
      body #signin-container p a {
        color: blue;
        text-decoration: none; }
      body #signin-container p a:hover {
        text-decoration: underline;
        color: #008080; }
  body footer {
    margin-top: 20vh; }
